.onboarding-container {
  overflow: hidden;
  width: 100%;
  height: 80vh;
  position: relative;
  background: var(--background-color)
}

.onboarding-slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.onboarding-page {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box;
}

.onboarding-image {
  max-width: 70%; /* Adjust size for better layout */
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.onboarding-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #004aad; /* Darker blue for better contrast */
}

.onboarding-text {
  font-size: 18px;
  color: #333; /* Darker text color for readability */
  margin-bottom: 30px;
  line-height: 1.6; /* Better readability */
  padding: 0 20px; /* Responsive padding */
}

.swipe-hint {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
  animation: bounce 1.5s infinite;
}

.swipe-arrow {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.4);
  animation: side-to-side 1.5s infinite;
}

.swipe-text {
  font-size: 18px;
  color: #555;
  animation: fadeIn 1s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes side-to-side {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .onboarding-title {
    font-size: 24px;
  }

  .onboarding-text {
    font-size: 16px;
  }

  .onboarding-image {
    max-width: 80%;
  }
}

/* Fade-out animation */
.onboarding-container.fade-out {
  animation: fadeOut 0.1s forwards; /* Fades out the content */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
