/* App.css */

body {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px; /* Mobile max width */
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  overflow: hidden;
}
