@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=M+PLUS+1p&family=Montserrat:wght@300;400;700&display=swap');

:root {
  --main-blue:#0D64DC;
  --light-blue:#0D64DC4D;
  --main-red:#FF4400;
  --light-red:#FF44004D;
  --main-purple:#7340C4;
  --light-purple:#7340C44D;
  
  --background-color: #e2f3ff;
  --text-color: #333;
  --border-color: #ccc;
  --error-color: #ff4d4f;
  --success-color: #52c41a;

  --font-family-base: 'M PLUS 1p', sans-serif;
  --font-family-heading: 'M PLUS 1p', sans-serif;
}

body {
  font-family: var(--font-family-base);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
}

.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-select-selector,
.ant-input-number,
.ant-table,
.ant-form-item-label > label,
.ant-message-notice-content {
  font-family: var(--font-family-base) !important;
}